# ====================================================================
# OpenFOAM Simulation Outputs & Mesh
# ====================================================================

*.sh
Makefile

# Ignore all parallel processing directories
processor*/

# Ignore all numbered time-step directories (results)
[1-9]*/
0.*/



uniform/
phi

# EXCEPT initial conditions & backup configurations
![0]/
!0.orig/





# Ignore heavy generated mesh files (Safe if mesh dicts are in /system)
polyMesh/
polyMesh.orig/
points
# Ignore on-the-fly C++ compilation directories
dynamicCode/

# ====================================================================
# Post-Processing & Logs
# ====================================================================
postProcessing/
sets/
surfaces/
VTK/
figure/

# Ignore solver logs and standard output files
log.*
*.log
log_run
*.out

*.png
*.jpg
*.txt

# Ignore ParaView/Tecplot visualization links/data
*.foam
*.pvd
*.plt
*.lay
.ParaView/

# Other specialized OpenFOAM mesh dump files
cellDist
cellDecomposition
C
Cx
Cy
Cz

# ====================================================================
# External Tools (MATLAB, Office, OS)
# ====================================================================
*.asv
*.mat
*.pptx
*.docx

# OS metadata junk
.DS_Store
Thumbs.db